* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

body {
    background-color: black;
    background-image: url(./NETBACK.jpg);
    background-repeat: no-repeat;

}

header h1 {
    color: #E50914;
    font-style: normal;
    margin: 10px 150px;}

article{
    background-color:  rgba(0, 0, 0, 0.351);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

article h1, label, input, a,p{
    color: white;

}
form{   display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}


article input{
    background-color: transparent;

}

